body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.p{
  line-height: 2;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-h2{
  font-weight: normal;
}
.profile{
  width: 50%;
  margin: 60px auto;
}
.profile-pic{
  width: 30%;
  border-radius: 48%;
}
.profile-description{
  width: 90%;
  margin: auto;
}
.skills{
  margin: 60px auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
.skill-1{
width: 40%;
float: left;
margin-right: 30px;
padding-top: 20px;
}
.skill-2{
width: 40%;
float: right;
margin-left: 30px;
}
.skill-3{
width: 40%;
float: left;
margin-right: 30px;
padding-top: 20px;
}
hr{
  border-style: dotted none none none;
  border-width: 9px;
  border-color: #d7dbdb;
  width: 5%;
}
.contact-me{
  width: 50%;
  margin: 60px auto;
}
.btn{
  display: block;
  width: 115px;
  height: 25px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: #66BFBF;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin: 60px auto;
  font-family: 'Montserrat', sans-serif;
}
.btn:hover{
  background-color: #1da8cf;
}
.bottom-container{
  background-color: #66BFBF;
  padding-bottom: 10px;
  padding-top: 40px
}
a{
  color: #11999E;
  text-decoration: none;
  margin: 0 40px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
a:hover{
  color: #EAF6F6;
}
.footer{
  color: #EAF6F6;
  margin: 30px auto 10px auto;
  font-size: 0.75rem;
}
